################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Rainnier.Alg/bin/Debug
/Rainnier.Alg/obj/Debug
/.vs/Rainnier.Alg/v16
/.vs/Rainnier.Alg/v15/Server/sqlite3
/.vs/Rainnier.Alg/v15
/packages/MSTest.TestAdapter.2.1.1/build
/packages
/Rainnier.Alg.Test/bin/Debug
/Rainnier.Alg.Test/obj/Debug
/.vs/Rainnier.Alg/project-colors.json
/.vs/Rainnier.Alg/v17/TestStore/0/001.testlog
/.vs/Rainnier.Alg/v17/TestStore/0/testlog.manifest
/.vs/Rainnier.Alg/v17/TestStore/0/007.testlog
/.vs/Rainnier.Alg/v17/TestStore/0/012.testlog
/.vs/Rainnier.Alg/v17/TestStore/0/024.testlog
/Rainnier.Alg.Core/obj
/Rannier.Alg.Core/obj
/Rannier.Alg.Core.Test/obj
/.vs/Rainnier.Alg/FileContentIndex/read.lock
/.vs/Rainnier.Alg/FileContentIndex
/.vs/Rainnier.Alg/DesignTimeBuild
/.vs/Rainnier.Alg/v17/TestStore/0
/.vs/Rainnier.Alg/v17/.suo
