################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Rainnier.Alg/bin/Debug
/Rainnier.Alg/obj/Debug
/.vs/Rainnier.Alg/v16
/.vs/Rainnier.Alg/v15/Server/sqlite3
/.vs/Rainnier.Alg/v15
